{% extends 'base.html' %}

{% block app_content %}
<div class="container">
  <div class="row">
   <div class="col-md-12">
    <p>Setpoint: <span id="temperature_setpoint_value"></span>°C</p>
    <p>
      <button type="button" id="decrease_temperature_setpoint" class="btn btn-primary">-</button>
      <button type="button" id="increase_temperature_setpoint" class="btn btn-danger">+</button>
    </p>
   </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>SENSOR 1</h3>
    </div>
    <div class="col-md-4">
      <p>Temperature: <span id="temperature_value" class="alert alert-dark"></span>°C</p>
    </div>
    <div class="col-md-4">
      <p>Humidity: <span id="humidity_value" class="alert alert-dark"></span>%</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h3>SENSOR 2</h3>
    </div>
    <div class="col-md-4">
      <p>Temperature: <span id="temperature2_value" class="alert alert-dark"></span>°C</p>
    </div>
    <div class="col-md-4">
      <p>Humidity: <span id="humidity2_value" class="alert alert-dark"></span>%</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <h3>STATUS</h3>
    </div>
    <div class="col-md-3">
      <p align="right">Lamp <span id="lamp_value"></span></p>
      <p>&nbsp;</p>
      <p align="right">UVB <span id="uvb_value"></span></p>
      <p>&nbsp;</p>
      <p align="right">Heater <span id="heater_value"></span></p>
      <p>&nbsp;</p>
      <p align="right">Rain <span id="rain_value"></span></p>
    </div>
    <div class="col-md-3">
      <p align="right">Door <span id="door_value"></span></p>
    </div>
    <div class="col-md-3">
      <p>LED</p>
      <p>
        <button type="button" id="led_on" class="btn btn-success">On</button>
        <button type="button" id="led_off" class="btn btn-danger">Off</button>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <h3>Live stream</h3>
    </div>
    <div class="col-md-3">
      <p><a class="alert alert-info" href="http://192.168.1.100:8081" target="_blank">on local</a></p>
      <p>&nbsp;</p>
      <p><a class="alert alert-info" href="http://mikipi.servebeer.com:8081" target="_blank">from remote</a></p>
    </div>
    <div class="col-md-3">
      <p>Battery percentage:</p>
      <p><span id="battery_p_value" class="alert alert-dark"></span>%</p>
      <p>Battery voltage:</p>
      <p><span id="battery_v_value" class="alert alert-dark"></span>V</p>

    </div>
  </div>
</div>
<hr>
<hr>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script src="{{ url_for("static", filename = "js/bootstrap.min.js") }}"></script>
<script src="{{ url_for("static", filename = "js/socket.io.js") }}"></script>

<script>
    $(document).ready(function() {


        function updateTempHumi(tempValue, humiValue){
            console.log('Temperature: ' + tempValue, 'Humidity: ' + humiValue);
            if (tempValue == -1) {
                $('#temperature_value').text('waiting for data...');
                $('#humidity_value').text('waiting for data...');
                }
            else {
            $('#temperature_value').text(tempValue);
            $('#humidity_value').text(humiValue);
                }
            }


        function updateTempHumi2(temp2Value, humi2Value){
            console.log('Temperature2: ' + temp2Value, 'Humidity2: ' + humi2Value);
            if (temp2Value == -1) {
                $('#temperature2_value').text('waiting for data...');
                $('#humidity2_value').text('waiting for data...');
                }
            else {
            $('#temperature2_value').text(temp2Value);
            $('#humidity2_value').text(humi2Value);
                }
            }


        function updateTemperatureSetpoint(tempSpValue){
            console.log('New temperature setpoint is: ' + tempSpValue);
            $('#temperature_setpoint_value').text(tempSpValue);
            }


        // Function to update the status of the Battery
        function updateBattery(batteryPvalue, batteryVvalue){
            $('#battery_p_value').text(batteryPvalue);
            $('#battery_v_value').text(batteryVvalue);
            }

        // Function to update the door state on the page.
        function updateDoor(doorState) {
            console.log('door state ' + doorState);
            if (doorState === 1) {
                $('#door_value').text('OPENED');
                $('#door_value').toggleClass('alert alert-success', false);
                $('#door_value').toggleClass('alert alert-danger', true);
            }
            else if (doorState === 0) {
                $('#door_value').text('CLOSED');
                $('#door_value').toggleClass('alert alert-danger', false);
                $('#door_value').toggleClass('alert alert-success', true);
            }
        }

        // Function to update the lamp state on the page.
        function updateLamp(lampState) {
            console.log('Lamp state ' + lampState);
            if (lampState === 1) {
                $('#lamp_value').text('Off');
                $('#lamp_value').toggleClass('alert alert-success', false);
                $('#lamp_value').toggleClass('alert alert-danger', true);
            }
            else if (lampState === 0) {
                $('#lamp_value').text('On');
                $('#lamp_value').toggleClass('alert alert-danger', false);
                $('#lamp_value').toggleClass('alert alert-success', true);
            }
        }

        // Function to update the heater state on the page.
        function updateHeater(heaterState) {
            console.log('Heater state ' + heaterState);
            if (heaterState === 1) {
                $('#heater_value').text('Off');
                $('#heater_value').toggleClass('alert alert-success', false);
                $('#heater_value').toggleClass('alert alert-danger', true);
            }
            else if (heaterState === 0) {
                $('#heater_value').text('On');
                $('#heater_value').toggleClass('alert alert-danger', false);
                $('#heater_value').toggleClass('alert alert-success', true);
            }
        }

        // Function to update the UVB state on the page.
        function updateUVB(uvbState) {
            console.log('UVB state ' + uvbState);
            if (uvbState === 1) {
                $('#uvb_value').text('Off');
                $('#uvb_value').toggleClass('alert alert-success', false);
                $('#uvb_value').toggleClass('alert alert-danger', true);
            }
            else if (uvbState === 0) {
                $('#uvb_value').text('On');
                $('#uvb_value').toggleClass('alert alert-danger', false);
                $('#uvb_value').toggleClass('alert alert-success', true);
            }
        }

        // Function to update the rain state on the page.
        function updateRain(rainState) {
            console.log('rain state ' + rainState);
            if (rainState === 1) {
                $('#rain_value').text('Off');
                $('#rain_value').toggleClass('alert alert-success', false);
                $('#rain_value').toggleClass('alert alert-danger', true);
            }
            else if (rainState === 0) {
                $('#rain_value').text('On');
                $('#rain_value').toggleClass('alert alert-danger', false);
                $('#rain_value').toggleClass('alert alert-success', true);
            }
        }

        updateTempHumi({{ temperature }}, {{ humidity }});
        updateTempHumi2({{ temperature2 }}, {{ humidity2 }});
        updateDoor({{ door }});
        updateLamp({{ lamp }});
        updateUVB({{ uvb }});
        updateHeater({{ heater }});
        updateRain({{ rain }});
        updateTemperatureSetpoint({{ new_temp_sp_val }});
        updateBattery({{battery_percentage}},{{battery_voltage}});

        // Create SocketIO connect and attach handlers for events from the server.
        var socket = io.connect();
        socket.on('connect', function() {
            console.log('Socket connected.');
        });
        socket.on('temp_humidity_change', function(e) {
            updateTempHumi(e.temperature, e.humidity);
        });
        socket.on('temp_humidity2_change', function(e) {
            updateTempHumi2(e.temperature2, e.humidity2);
        });
        socket.on('door_change', function(e) {
            updateDoor(e.door);
        });
        socket.on('lamp_change', function(e) {
            updateLamp(e.lamp);
        });
        socket.on('uvb_change', function(e) {
            updateUVB(e.uvb);
        });
        socket.on('heater_change', function(e) {
          updateHeater(e.heater);
        });
        socket.on('rain_change', function(e) {
            updateRain(e.rain);
        });
        socket.on('battery_change', function(e) {
            updateBattery(e.battery_p, e.battery_v);
        });
        socket.on('new_temp_sp_val', function(e) {
            updateTemperatureSetpoint(e.new_temp_sp_val);
        });

        // Button click handlers
        $('#led_on').click(function() {
            socket.emit('change_led', 'on');
        });
        $('#led_off').click(function() {
            socket.emit('change_led', 'off');
        });

        $('#increase_temperature_setpoint').click(function() {
            socket.emit('change_temperature_sp', 'increase');
        });
        $('#decrease_temperature_setpoint').click(function() {
            socket.emit('change_temperature_sp', 'decrease');
        });

    });
</script>
{%endblock%}
